.card {
  font-family: "Work Sans", sans-serif;
  max-width: 520px;
  background-color: white;
  padding: 2.5rem 2.5rem 14px;
  border-radius: 1rem;
  box-shadow: 1px 1px 16px 4px rgba(0, 0, 0, 0.11);
  margin: 10.5rem auto;
}

.title {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.titleText {
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0;
}

.panelContainer {
  /* Create a line between panels */
  background-color: var(--light-pink);
  display: flex;
  flex-direction: column;
  gap: 1px;
}

@media (max-width: 614px) {
  .card {
    margin: 9rem 1.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem 0;
  }

  .title {
    align-items: center;
    margin-bottom: 0;
  }

  .title img {
    height: 1.5rem;
  }

  .titleText {
    font-size: 2rem;
  }
}
